[Unit]
Description=start roscore and roslauch all nodes
Wants=network-online.target
After=network.target network-online.target remote-fs.target syslog.target

[Service]
ExecStart=/bin/bash /home/pi/repos/ros_roverbot/roverstartup.sh
WorkingDirectory=/home/pi/repos/ros_roverbot
Restart=always
User=pi
StandardOutput=inherit
StandardError=inherit


[Install]
WantedBy=multi-user.target